@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-lg;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply pt-3 pb-1;
  }

  a, button {
    @apply text-blue dark:text-white rounded-full outline p-2 my-2;
  }
  a:hover, button:hover {
    @apply underline;
  }

  p {
    @apply pb-2;
  }

  .input {
    @apply rounded-lg bg-gray-50 border border-gray-300 text-gray-900 text-sm focus:ring-blue focus:border-blue block w-full p-2.5 dark:bg-gray-700 dark:border-gray-400 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue dark:focus:border-blue duration-300;
  }

  label span {
    @apply block text-gray-700 text-sm mb-2 dark:text-gray-100 font-medium;
  }

  @font-face {
    font-family: "Poppins";
    src: local("Poppins"), url("public/node_modules/@fontsource/poppins/files/poppins-all-00-normal.ttf") format("ttf");
  }
}
